<div class="container col-md-12">
      <div class="title">

       <div (click)="onSendPick('SelectAll')">Select All</div> 
    
    </div>
    <div class="row">
        <div class="col-md-12">
       <div (click)="onSendPick('Tops')">Tops</div> 
        </div>
    </div>
    <div class="row">
       <div class="col-md-12">
       <div (click)="onSendPick('Bottoms')">Bottoms</div> 
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
       <div (click)="onSendPick('Dresses')">Dresses</div> 
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
        <div (click)="onSendPick('Jackets')">Jackets</div> 
        </div>
    </div>
</div>